/* basic stylings ------------------------------------------ */

h1 {
    font-size: 2rem;
    /*font-weight: bold;*/
    text-align: center;
    text-transform: uppercase;
    color: #707070;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

    h2 small {
        font-weight: normal;
        color: #888;
        display: block;
    }

#form1 {
    position: absolute;
    top: 60%;
    left: 53%;
    transform: translate(-49%, -49%);
}

.container {
    font-family: 'Roboto';
    width: 1000px;
    margin: 0px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
}



.group {
    position: relative;
    margin-bottom: 45px;
}





input[type=text] {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input[type=checkbox] {
    width: 80px;
}

input[type=text]:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input[type=text]:focus ~ label, input[type=text]:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input[type=text]:focus ~ .bar:before, input[type=text]:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input[type=text]:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}
